<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-au" }}">

{{ partial "head.html" . }}

<body class="min-h-screen max-w-screen overflow-x-hidden flex flex-col">

    <div id="pageWrapper" class="flex flex-col flex-grow">

        <!-- Grid/Flex -->
        <div class="flex flex-col flex-grow">

            {{ partial "navbar.html" . }}

            <!-- Main -->
            <div class="flex flex-col flex-grow container h-full mx-auto p-4 w-11/12 xl:w-4/5">
                {{ block "main" . }}{{ end }}
            </div>

        </div>

        {{ partial "footer.html" . }}

        <button id="backToTopBtn" type="button" class="fixed right-8 bottom-8 text-2xl hidden" v-on:click="backToTop">
            <i class="fas fa-chevron-circle-up"></i>
        </button>

    </div>  <!-- End of pageWrapper -->

</body>

</html>