{{ define "main" }}
<main class="h-full">
    <div class="h-full container mx-auto flex flex-col">

        <div class="my-4">
            {{ partial "breadcrumb.html" . }}
        </div>

        {{ $paginator := .Paginate (where .RegularPagesRecursive "Type" .Type) 10 }}

        {{ range $paginator.Pages }}
            {{ if not .Params.private }}
            <div class="mb-8">
                <h2><a class="listItemTitleLink text-3xl" href="{{.Permalink}}">{{.Title}}</a></h2>
                {{ if .Date }}<small class="text-muted">{{.Date.Format "2006-01-02"}}</small>{{ end }}

                {{ with .Params.tags }}
                <div class="tags d-flex align-items-center my-2">
                    {{ range . }}
                    <a class="py-1 px-2 bg-blue-400 mr-2 rounded-full text-gray-50 text-sm" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
                {{ end }}

                {{ if .Params.thumbnail }}
                <div class="flex justify-center max-w-4/5 sm:max-w-3/5 md:max-w-1/2">
                    <a href="{{.RelPermalink}}">
                        <img src="{{ strings.ReplaceRE `^\.` .RelPermalink .Params.thumbnail}}" {{if .Params.thumbnailInvert}}class="filter invert"{{end}}/>
                    </a>
                </div>
                {{ end }}

                <div class="pl-2 pb-2 my-8 text-transparent bg-clip-text bg-gradient-to-b from-gray-50 via-gray-300 to-gray-800">
                    {{ .Summary }}
                </div>

                <div class="text-center">
                    <a class="text-xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-blue-600 hover:text-transparent hover:from-purple-400 hover:to-purple-600 transition-all" href="{{.Permalink}}">Read More</a>
                </div>

                <div class="listItemDivider my-4 border-t-2 border-gray-600"></div>
            </div>
            {{ end }}
        {{ end }}


        {{ partial "pagination.html" . }}

    </div>
</main>
{{ end }}
