{{ define "main" }}
<main class="container flex flex-col flex-grow">
    <h1 class="text-3xl mb-4">{{ .Title }}</h1>
    <div class="flex items-center">
        {{ if .Date }}<time id="articleDate" class="block text-gray-300">{{ .Date.Format "02 Jan 2006" }}</time>{{ end }}
    </div>

    {{ if or .Params.tags (.Param "status") }}
    <div id="tags" class="tags flex items-center my-2">
        {{ with .Params.tags }}
            {{ range . }}
            <a class="py-1 px-2 rounded-full bg-blue-500 bg-opacity-80 mr-2 text-sm text-gray-50" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ humanize .}}</a>
            {{ end }}
        {{ end }}
    </div>
    {{ end }}

    {{ partial "breadcrumb.html" . }}

    <article class="flex-grow break-words mt-4">
        {{ if .Params.thumbnail }}
            <div class="flex justify-center max-w-4/5 md:max-w-3/5 lg:max-w-1/2">
                <img src="{{.Params.thumbnail}}" {{if .Params.thumbnailInvert}}class="filter invert"{{end}}/>
            </div>
        {{ end }}
        {{ if .Content }}
            {{ .Content }}
        {{ end }}
    </article>

    <div class="mt-12 lg:mt-24 mb-4 flex justify-center">
        <a class="py-2 px-4 rounded-xl bg-blue-500 bg-opacity-80 text-gray-50" href="{{ .Parent.Permalink }}">Back to Section</a>
    </div>
    
</main>
{{ end }}
