{{ define "main" }}
<main>
    <div class="container">

		<div class="mt-4">
            {{ partial "breadcrumb.html" . }}
        </div>

        <h1 class="my-4 text-2xl">Tag: {{ humanize .Title }}</h1>

        {{ range .Paginator.Pages }}
			{{ if not .Params.private }}
			<div class="mb-8">
				<h2><a class="text-2xl" href="{{.Permalink}}">{{.Title}}</a></h2>
				{{ if .Date }}<small class="text-muted">{{.Date.Format "2006-01-02"}}</small>{{ end }}

				{{ with .Params.tags }}
                <div class="tags d-flex align-items-center my-2">
                    {{ range . }}
                    <a class="py-1 px-2 bg-blue-400 mr-2 rounded-full text-gray-50 text-sm" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ humanize .}}</a>
                    {{ end }}
                </div>
                {{ end }}

				<div class="listItemSummary text-gray-300 border-l-2 border-gray-700 pl-2 my-8">
					{{ .Summary }}
				</div>

				<div class="text-center">
					<a class="btn btn-sm btn-secondary" href="{{.Permalink}}">Open</a>
				</div>

				<div class="listItemDivider my-4 border-t-2 border-gray-600"></div>
			</div>
			{{ end }}
		{{ end }}

		{{ partial "pagination.html" . }}

    </div>
</main>
{{ end }}