<div class="inline">

    {{ if not ( eq .RelPermalink "/" ) }}
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    {{ end }}

</div>

{{ define "breadcrumbnav" }}

    {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
    {{ else if not .p1.IsHome }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
    {{ end }}

    {{ if .p1.IsHome }}
    <a class="hover:text-yellow-200" href="/" {{ if eq .p1 .p2 }}active{{ end }}><i class="fas fa-home"></i></a> 
    {{ else }}
    > <a class="hover:text-yellow-200" href="{{ .p1.Permalink }}" {{ if eq .p1 .p2 }}active{{ end }}>{{ .p1.Title }}</a>
    {{ end }}

{{ end }}
