<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

    {{ partial "favicon.html" . }}

    <title>{{ .Site.Title }}{{ if not ( eq .RelPermalink "/" ) }} :: {{ .Title }}{{ end }}</title>
    <link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/solid.min.css">

    {{ $fonts := resources.Get "css/fonts.css"}}
    {{ $styles := resources.Get "css/style.css" | resources.PostCSS (dict "inlineImports" true) }} 
    
    {{ if .Site.IsServer }}
    {{ $styles := $styles | fingerprint }}
    {{ $fonts := $fonts | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    <link rel="stylesheet" href="{{ $fonts.RelPermalink }}" integrity="{{ $fonts.Data.Integrity }}"/>
    {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    {{ $fonts := $fonts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    <link rel="stylesheet" href="{{ $fonts.RelPermalink }}" integrity="{{ $fonts.Data.Integrity }}"/>
    {{ end }}

    {{ if not .Site.IsServer}}
        {{/* Production */}}
        <script src="{{ (resources.Get "/vendor/alpine.js" | minify | fingerprint).Permalink }}" defer></script>
        <script src="{{ (resources.Get "/js/app.js" | minify | fingerprint).Permalink }}" defer></script>
    {{ else }}
        {{/* Dev */}}
        <script src="{{ (resources.Get "/vendor/alpine.js" | fingerprint).Permalink }}" defer></script>
        <script src="{{ (resources.Get "/js/app.js" | fingerprint).Permalink }}" defer></script>
    {{ end }}

</head>
