{{ if ne (len .Site.Taxonomies.tags) 0 }}
<div class="flex flex-wrap my-2">

    {{ $pageCount := 0 }}
    {{ range $.Site.Taxonomies.tags }}
        {{ $pageCount = add $pageCount (len .Pages)}}
    {{ end }}
    {{ $pageCount = mul $pageCount 1.0 }}

    {{ $maxLen := len (index $.Site.Taxonomies.tags.ByCount 0).Pages }}
    {{ $minLen := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}

    {{ $maxSize := 2.0 }}
    {{ $minSize := 0.9 }}
    {{ $sizeScale := sub $maxSize $minSize }}

    {{ $maxColor := 500 }}
    {{ $minColor := 100 }}
    {{ $colorScale := sub $maxColor $minColor }}


    {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
        {{ $tagCount :=  len $taxonomy.Pages }}

        {{ $size := div (math.Round (mul (add $minSize (mul $sizeScale (div $tagCount $pageCount))) 100)) 100 }}
        {{ if gt $size $maxSize }}
        {{ $size = $maxSize }}
        {{ end }}

        {{ $color := add $minColor (mul (math.Round (div (mul $colorScale (div $tagCount $pageCount)) 100)) 100)}}
        {{ if gt $color $maxColor }}
        {{ $color = $maxColor }}
        {{ end }}

        {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
            <span class="p-2 text-red-{{math.Max $minColor (sub $color 100)}}" style="font-size: {{ $size }}rem"><a href="{{ .Permalink }}">{{ $name }} <sup>{{$tagCount}}</sup></a></span>
        {{ end }}
    {{ end }}

</div>
{{ end }}