{{ define "main" }}
<main>
    <div class="container mx-auto">
        {{if .Site.Home.Content }}
            {{ .Content }}
        {{else}}
            Home Page Template
        {{ end }}
    </div>
</main>
{{ end }}